.row-menu {
    background-color: #F8BBD0;
}

.row-contact 
{
    background-color: #E91E63;
    color: #212121;
}

.row-socks 
{
    background-color: #E91E63;
    color: #212121;
}
.row-information {
    background-color: #BDBDBD;
    opacity: 0.9;
}

.row-type 
{
    background-color: #E91E63;
}


