@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Open+Sans:wght@400;500;700&family=Patrick+Hand+SC&display=swap');

.container {
    background-color: #F8BBD0;
    height: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.sock {
    width: 30vw;
    margin: 0 auto;
    }

.navigation {
    border-bottom: 5px white solid;
    background-color: #C2185B ;
    padding: 0.5em;
}

.navigation a {
    text-decoration: none;
    color:#FFFFFF;
}

.navigation a:hover {
    text-shadow: 
    0.1em 0.1em 0.2em white,
    0 0 0.3em white; 
    color: white;
    background-color:#E91E63;
    border-radius: 20px;
}

.active {
    border: 2px dotted white;
    border-radius: 20px;
    font-weight: 600;
}
@media (max-width: 1070px) { 
    .sock {
        width: 50vw;
        height: 50vh;
    }      
    }

    